<h2>List of Sections(<%=@sections.length %>)</h2>

<% if @sections.empty? %>
	<p>"Sections Record not found"</p>
	<% else %>
	<table>
	 	<tr>
		  <th>Header</th>
		  <th>Description</th>
		  <th>Course</th>
	 	</tr>
	  <tbody>
			<% @sections.each do |section| %>
				<tr>
					<td><%= link_to section.header,section_path(section.id) %></td>
					<td><%= section.description %></td>
					<td><%= section.course.name rescue 'nil' %></td>
					<td><%= link_to "Edit",edit_section_path(section.id)%></td>
					<td><%= link_to "Destroy",section_path(section.id),method: :delete,data: {confirm: "Are you sure?"} %></td>
				</tr>		
			<% end %>
		</tbody>
	</table>	
<% end %>	

<%= link_to "Add", new_section_path %>